.network-controls {
  display: flex;
  margin-bottom: 20px;
}

.controls-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.controls-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.network-form-section {
  align-items: center;
  justify-content: center;
}

.network-form-section h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #374151;
  margin-bottom: 16px;
  text-align: center;
}

.action-buttons-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin-bottom: -40px;
   margin-top: -20px;
  align-items: center;
}

.action-buttons-section .button {
  width: 20%;
  margin-right: 0;
}



@media (max-width: 768px) {
  .network-controls {
    flex-direction: column;
    padding: 15px;
  }
  
  .controls-right {
    width: 100%;
  }
}
